# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:3001

# MongoDB Connection
MONGODB_URI=

# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# JWT Secret (generate with: openssl rand -base64 32)
JWT_SECRET=

# File Uploads
UPLOADTHING_TOKEN=
